# Voorontwerp van een olympisch zwembad - Analyse temperatuurmeting

Het csv-bestand zwembadTemperatuur bevat de meting van de watertemperatuur gedurende een periode van 40 uur. Zet deze meting uit in een grafiek samen met een gepaste trendlijn. Bereken op basis van de trendlijn de temperatuursdaling per dag.

In [1]:
# deze imports kennen jullie ondertussen al

import math
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib widget
from slimmeFuncties import * 
from qgridnext import show_grid

In [2]:
temperatuurData = pd.read_csv("zwembadTemperatuur.csv", sep=";")

show_grid(temperatuurData)

     Uur  Temperatuur (°C)
0    0.0             26.90
1    0.5             26.92
2    1.0             26.88
3    1.5             26.87
4    2.0             26.83
..   ...               ...
76  38.0             26.10
77  38.5             26.12
78  39.0             26.15
79  39.5             26.10
80  40.0             26.06

[81 rows x 2 columns]

### Opdracht 1:

Plot de temperatuurdata als een puntenwolk. Gebruik een marker naar keuze en kies de optie **linestyle=''** in de plotfunctie.

In [2]:
def plotTemperaturen(dataFrame):
    # TODO 1: selecteer de juiste waarden voor xAs en Yas
    xAs = []
    yAs = []
    plt.figure()
    plt.plot(xAs,yAs, color="black",marker='.',linestyle='', label="zwembad temperatuur °C")
    # TODO 2: voeg legende en labels voor x- en y-as toe
    plt.grid()
    plt.show()
    
plotTemperaturen(temperatuurData)

NameError: name 'temperatuurData' is not defined

Wat stel je vast i.v.m. de meetwaardes?

### Opdracht 2:

Kies in de bibliotheek **slimmeFuncties** een geschikte functie om de afname van de temperatuur te modeleren.

In [4]:
xs = temperatuurData["Uur"]
ys = temperatuurData["Temperatuur (°C)"]

# TODO 2: vul aan
#Fit = 

print(Fit)

NameError: name 'Fit' is not defined

### Opdracht 3:

Plot het model dat je hebt gemaakt (in een blauwe volle lijn) samen met de originele puntenwolk.

In [5]:
def plotTemperatuurModel(dataFrame):
    # TODO 3: vul aan (op basis van je oplossing van opdracht 1)
    plt.figure()
    plt.show()

SyntaxError: incomplete input (3116920209.py, line 2)